@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

// VARIABLES START
$themeColor: rgb(251, 10, 18);
// VARIABLES END

// GLOBAL CLASSES START
html {
	width: 100%;
	font-size: 100%;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 99%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 98%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 97%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 96%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 95%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 94%;
	}
}

.themeBtn1 {
	color: $themeColor;
	border: 1px solid $themeColor;
	background: transparent;
	border-radius: 4px;
}

.themeBtn2 {
	color: white;
	background: $themeColor;
	border: 1px solid $themeColor;
	border-radius: 4px;
}

.lightColor {
	color: #676767;
}

.greenColor {
	color: #00c457;
}

// ===== HEADER START ======
.headerContainer {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	z-index: 1;
	background: #ffff;
	border-bottom: 1px solid #e1e1e1;
	padding: 0.6rem 0rem;

	.innerHeaderContainer {
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}

	.navLinks {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -30%);

		ul {
			li {
				a {
					font-size: 1rem;
				}
			}
		}
	}
}
// ===== HEADER END ======

// ===== PUBLIC BODY START ======
.publicEventBody_container {
	margin-top: 4rem;
	.hosted {
		img {
			height: 50px;
			width: 48px;
		}
	}

	.group {
		img {
			height: 48px;
			width: 50px;
			border-radius: 4px;
		}
	}

	.description {
		h5 {
			font-size: 1rem;
			line-height: 28px;
		}
	}

	.participants {
		img {
			height: 80px;
			width: 80px;
		}
	}
}
// ===== PUBLIC BODY END ======

// ===== FOOTER START ======
.footerContainer {
	width: 100%;
	border-top: 1px solid #e1e1e1;

	.innerFooter {
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}

	.footerLine {
		height: 100%;
		width: 3px;
		background: #000;
	}
}
// ===== FOOTER END ======
